@model SoftNET_Project.Models.Product

@{
    ViewData["Title"] = "Create";
}

<div class="card mb-4 mt-2">
    <div class="card-body">
        <h1>Add New Product</h1>
    </div>
</div>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create Manually</a>
</p>

<div class="card mb-4">
    <div class="card-header">
        <i class="fa-solid fa-boxes-stacked"></i>
        Barcode Reader:
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div>

                    <form asp-action="BarcodeCreate">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Barcode" class="control-label"></label>
                            <input asp-for="Barcode" class="form-control" id="barcode_value" />
                            <span asp-validation-for="Barcode" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-success" id="get_product">Get Product</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="mb-4">
    <a class="btn btn-warning" asp-action="Index"><i class="fa-sharp fa-solid fa-arrow-left"></i>Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
